<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css" type="text/css" />
	<title>Now You're Cookin'!</title>
	<script src="https://code.jquery.com/jquery.js"></script>


</head>

<body>
	{{{ body }}}

	{{!-- <script>
		$(document).ready(function () {
			// alert("Document Ready!");
			$("#btnLogin").click(function(event) {
				event.preventDefault();
				alert("Login!");
			});

		});

		function handleLogin(event) {
			event.preventDefault();
			alert("Login!");
			var settings = {
				"async": true,

				"url": "http://localhost:8080/api/login",
				"method": "POST",
				"headers": {
					"Content-Type": "application/json",
					"cache-control": "no-cache"

				},
				"data": {name:inputName}
				
			}

			$.ajax(settings).done(function (response) {
				console.log(response);
			});
		}
		
	</script> --}}
</body>

</html>