    <div class="container">
        <div class="flex-container">
                <button type=submit class="firstbutton "
                    style="background:red; width:350px; height:100px "><i class="fas fa-utensils"></i> Add A
                    Recipe</button>
                <button type=submit class="secondbutton "
                    style="background:red ; width: 350px; height: 100px "><i class="fas fa-search"></i> Search A
                    Recipe</button>
                <button type=submit class="thirdbutton "
                    style="background:red ; width: 350px; height: 100px "><i class="fas fa-star-half-alt"></i> Rate A
                    Recipe</button>
              </div>
    </div>
                
                   
        <br>
        <br>

</div>
<br>
<br>
<br>
<div class="container">
<div class="card" style="width: 30rem; float: left">
    <h1>Lottery Pick</h1>
    
    <ul>
        <li>
            djshbvdi
            sdbchjkshbd
        </li>
    </ul>


    <style>

    </style>
</div>
</div>

<div class= "container">
<div class="card" style="width: 30rem; float: right">
        <h1>Leader Board</h1>
        <ul>
            <li>
                djsbhjb
                cjshdbh
            </li>
        </ul>
      
   </div>
</div>
