<div class="container-fluid">
    <h1>Now You're Cookin'</h1>

    <div class="container">


        <div class="navigation" class="container">
            <div class="row">
                <div id="add" class="col-md-4">
                    <img src="/img/Recipe-01-01.png" class="navpic">
                    <button id="navbtnone" type="button" class="btn btn-primary btn-lg btn-block">
                        <h3>Add A Recipe</h3>
                    </button>
                </div>
                <div id="search" class="col-md-4">
                    <img src="/img/Search-01-01.png" class="navpic">
                    <button id="navbtntwo" type="button" class="btn btn-primary btn-lg btn-block">
                        <h3>Search A Recipe</h3>
                    </button>
                </div>
                <div id="rate" class="col-md-4">
                    <img src="/img/Rate-01-01-01.png" class="navpic">
                    <button id="navbtnthree" type="button" class="btn btn-primary btn-lg btn-block">
                        <h3>Rate A Recipe</h3>
                    </button>
                </div>

            </div>
        </div>
        <div class="display" class="container">
            <div class="row">
                <div id="lotteryPick" class="col-md-4">
                    <h2><i class="fa fa-gift" aria-hidden="true" style="font-size:36px"></i>Lottery Recipe</h2>
                    <div id="divLottery"></div>
                    <a href="#" class="btn btn-danger float-right" id="lrLinkGo">Go to recipe</a>
                </div>
                <div id="topPerformers" class="col-md-7">
                    <h2><i class="fa fa-star" style="font-size:36px"></i><i class="fa fa-star" style="font-size:36px"></i><i class="fa fa-star" style="font-size:36px"></i><i class="fa fa-star" style="font-size:36px"></i><i class="fa fa-star" style="font-size:36px"></i>Top Performers</h2>
                    <ul class="list-group list-group-flush">
                        {{#each recipes}}
                        {{/each}}
                    </ul>
                </div>

            </div>
        </div>
    </div>
<script src="/js/lottery.js"></script>

<script>
    var user = sessionStorage.getItem("user");
    console.log("User: " + user );
    if(!!user) {
        $('#navbtnone').click(function () {
            event.preventDefault();
            console.log("Add click")
            window.location.pathname = '/add'
        })

        $('#navbtntwo').click(function () {
            event.preventDefault();
            console.log("Search click")
            window.location.pathname = '/search'
        })

        $('#navbtnthree').click(function () {
            event.preventDefault();
            console.log("Rate click")
            window.location.pathname = '/rate'
        })
    }
    else {
        window.location.href = "/";
    }

    </script>