<div id="login-page" class="container-fluid">
    <div class="wrapper">
        <div class="row align-items-center">
            <div id="login" class="col-md-6">
                <form>
                    <div class="form-group">
                        <h1>Now You're Cookin'</h1>
                        <div>
                            <label for="exampleInputEmail1"><strong>Login</strong></label>
                            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                                placeholder="Username">
                        </div>
                        <div>
                            <br>
                            <input type="password" class="form-control" id="InputPassword" placeholder="Password">

                        </div>
                        <div>
                            <br>
                            <button id="signUp" type="button" class="btn btn-link">Sign Up</button>
                            <button id="btnLogin" type="button" class="btn btn-danger float-right">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $('#btnLogin').click(handleLogin);

    });
    function handleLogin(event) {
        event.preventDefault();
        console.log("Login");
        var inputName = $("#InputEmail").val();
        var inputPass = $("#InputPassword").val();
        var settings = {
            "async": true,

            "url": "/api/login",
            "method": "POST",

            "data": { name: inputName, pass: inputPass }

        }

        $.ajax(settings).done(function (response) {
            alert("ajax done");
            console.log("Test Login");
            console.log(JSON.stringify(response));
            console.log(response.name);
            if(response.name) {
                 sessionStorage.setItem("user", "exists");
                window.location.href="/dash";

            }
            else {
                   sessionStorage.removeItem("user");
                window.location.href="/";
            }
           
        });

    };

        $('#signUp').click(function () {
            event.preventDefault();
            console.log("Add click")
            window.location.pathname = '/signup'
        });



</script>