<form>
    <div class="login container">
        <div class="positioned">
            <div class="card" style="width: 40rem;">

                <div class="form-group">
                    <h1>Now You're Cookin'</h1>

                    <label for="exampleInputEmail1"><strong>Login</strong></label>
                    <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                        placeholder="Username">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                    <!-- <label for="exampleInputPassword1">Password</label> -->
                    <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                </div>
                <div class="form-group form-check">

                    <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                    <!-- <a href= "sign up"></a> -->
                </div>
                <div>
                    <a href="Sign Up"><strong>Sign Up</strong></a>
                    <button id="btnLogin" type="button" class="btn btn-danger float-right">Login</button>
                </div>
            </div>
        </div>
</form>
</div>
<script>
    $(document).ready(function () {

        $('#btnLogin').click(handleLogin);

    });
    function handleLogin(event) {
        event.preventDefault();
        console.log("Login");
        var inputName = $("#InputEmail").val();
        var inputPass = $("#InputPassword").val();
        var settings = {
            "async": true,

            "url": "/api/login",
            "method": "POST",

            "data": { name: inputName, pass: inputPass }

        }

        $.ajax(settings).done(function (response) {
            console.log("Test Login");
            console.log(response.dataValues);
        });
    }
</script>