<div class="container-fluid">
    <h1>Rate A Recipe</h1>
    <hr>
    <div class="container">
        <form id="recipe-rate-form">
            <div class="form-group">
                <label for="recipeRateName">Recipe</label>
                <select class="form-control" id="recipeRateName"></select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">How many ingredients?</label>
                <select class="form-control" id="recipeRateIngredient">
                    <option value="1">Less than 5</option>
                    <option value="2">5 to 10</option>
                    <option value="3">More than 10</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">How long to prepare?</label>
                <select class="form-control" id="recipeRatePrepare">
                    <option value="1">Less than 30 minutes</option>
                    <option value="2">30 to 60 minutes</option>
                    <option value="3">More than 60 minutes</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Ease of Prep</label>
                <select class="form-control" id="recipeRateEase">
                    <option value="1">1 Not Very Easy</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 So Easy</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Taste</label>
                <select class="form-control" id="recipeRateTaste">
                    <option value="1">1 Not Very Tasty</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5 Very Tasty</option>
                </select>
            </div>

            <button type="submit" class="btn btn-danger mybutton float-right" id="rateSubmit">Submit</button>
        </form>
        <script>
            var tempArr;
            var recipeRatetName = $("#recipeRatetName");
            var settings = {
                "async": true,
                "url": "/api/recipes",
                "method": "GET"
            }
            $.ajax(settings).done(function (response) {
                // console.log("recipe rate:" + JSON.stringify(response));

                for (var i = 0; i < response.length; i++) {
                    var title = response[i].title;
                    // console.log("title: " + title);

                    var id = response[i].id;
                    //   console.log("Id; " + id);
                    $("#recipeRateName").append($("<option></option>").val(id).html(title));
                }
            });

            $("#rateSubmit").on("click", function (event) {
                event.preventDefault();
                console.log("rate click")
                // Here we grab the form elements
                var updateRecipe = {
                    title: $("#recipeRateName").val().trim(),
                    num_ing: $("#recipeRateIngredient").val().trim(),
                    time: $("#recipeRatePrepare").val().trim(),
                    rating_ease: $("#recipeRateEase").val().trim(),
                    rating_taste: $("#recipeRateTaste").val().trim(),
                };
                console.log(updateRecipe);

                $('#recipe-rate-form')[0].reset();
            });


        </script>
    </div>