<div id="login-page" class="container-fluid">
    <div class="wrapper">
        <div class="row align-items-center">
            <div id="login" class="col-md-6">
                <form>
                    <div class="form-group">
                        <h1>Now You're Cookin'</h1>
                        <div>
                            <label for="exampleInputEmail1"><strong> Sign Up</strong></label>
                            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                                placeholder="Username">
                        </div>
                        <div>
                            <br>
                            <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                         
                        </div>
                        <div>
                            <br>

                            <button id="btnSignUp" type="button" class="btn btn-danger float-left">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>

    


