/* 
.firstbutton {
    display: inline-block;
    height: 200px;
    padding: 2px;
    margin: 2px;
    vertical-align: top;
    width: 400px;
    font-size: 20px;
    float: left;
    border-radius: 15px;
    
}

.secondbutton {
    display: inline-block;
    height: 200px;
    padding: 2px;
    margin: 2px;
    vertical-align: top;
    width: 400px;
    font-size: 20px;
    float: left;
    border-radius: 15px;

}

.thirdbutton {
    display: inline-block;
    height: 200px;
    padding: 2px;
    margin: 2px;
    vertical-align: top;
    width: 400px;
    font-size: 20px;
    float: left;
    
    border-radius: 15px;

}

.container {

    border: 100px;
    padding: 15px 25px;
}

.card {

  background: rgba(255, 255, 255, 0.5);
  border: 100px;
  padding: 15px 50px;
  background-color: red;
  float: left;
  border-radius: 15px;
}
.card {
    
  background: rgba(255, 255, 255, 0.5);
  border: 100px;
  padding: 20px 30px;
  background-color: red;
  float: right;
  border-radius: 15px;
}

.container {
  padding: 10px 20px;
} */