body{

  }
  
/* CSS Code for Dashboard */
.navigation{
  border: red solid 5px;
  padding: 20px;
  border-radius: 25px;
}

.img-thumbnail{
  width: 60%;
  border: none;
  display:block;
  margin: 0 auto;
  vertical-align: middle;
}


.firstbutton {
  background:red;
  margin:0 auto;
  width:100%;
  height:100px;
  border-radius: 25px;
}

.secondbutton {
  background:red;
  width:100%;
  height:100px; 
  border-radius: 25px;
}

.thirdbutton {
  background:red;
  width:100%;
  height:100px;
  border-radius: 25px;
}

.results{
  margin-top: 30px;
}

#Lotterypick
.card-header{
    background:red;
    border-radius: 22px 22px 0px 0px;
  }

#Lotterypick
{
  border: red solid 5px;
  border-radius: 25px;
  height: 100%;
  }
  


#TopPerformer
.card-header{
  background:red;
  border-radius: 20px 22px 0px 0px;
}

#TopPerformer
{
  border: red solid 5px;
  border-radius: 25px;
  height: 100%;
  }