body{
  background-image: url('/img/light-veneer.png');
}

h1{
  font-family: 'Gochi Hand', cursive;
  color: #E21F26;
  font-size: 400%;
}

h2{
  color:#E21F26;
}

h3{
  color: white;
}


/* CSS Code for Login*/ 
.wrapper, html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

#login-page{
  background-image: url('/img/FoodBackground.jpg');
  height:100%;
  }


#login{
  background: rgba(249, 234, 199, 0.9);
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  margin-top: 10%;
}

#hidePassword{
  display: none;
}
  
 /* CSS Code for Dashboard */ 
.navigation{
  border: gray solid 1px;
  padding: 30px;
  border-radius: 25px;
  color:white;
  background-image: url('/img/FoodBackground.jpg');
}

.navpic{
  width: 40%;
  border: none;
  display:block;
  margin: 0 auto;
  }


#navbtnone {
  background:#E21F26;
  border: #E21F26;
}

#navbtntwo {
  background:#E21F26;
  border: #E21F26;
}

#navbtnthree {
  background:#E21F26;
  border: #E21F26;
}

.results{
  margin-top: 30px;
}
.display{
   padding: 10px;
   margin-top: 20px;
}

#lotteryPick{
  border: gray solid 1px;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  height: 200px;
  margin-top: 20px;
 }

#topPerformers{
  border: gray solid 1px;
  border-radius: 25px;
  padding: 20px;
  margin: auto;
  height: 200px;
  margin-top: 20px;
 }